SDAI_APP_ID=com.shifthackz.aisdv1.app
SDAI_A1111_URL=https://a1111.svc.home.arpa
SDAI_SWARMUI_URL=https://swarmui.svc.home.arpa
SDAI_A1111_USERNAME=
SDAI_A1111_PASSWORD=
SDAI_SWARMUI_USERNAME=
SDAI_SWARMUI_PASSWORD=
