/build
/android/build
/android/keystore
/ios/build
/ios/DerivedData
/ios/*.xcarchive
/ios/*.ipa
/ios/**/*.xcuserdatad
/ios/**/*.xcuserstate
/ios/**/*.moved-aside
/ios/**/*.mode1v3
/ios/**/*.mode2v3
/ios/**/*.perspectivev3
/ios/**/*.xccheckout
/ios/**/*.xcscmblueprint
/ios/**/*.mobileprovision
/ios/**/*.provisionprofile
/ios/**/*.p12
/ios/**/*.cer
/ios/**/*.der
/ios/**/*.csr
/ios/**/*.key
/ios/**/*.xcconfig.local
/ios/**/ExportOptions.plist
/ios/**/GoogleService-Info.plist
!/ios/**/*.xcshareddata/
!/ios/**/*.xcscheme
!/ios/**/Info.plist
